<!-- Footer Start -->
<div class="container-fluid bg-dark text-light  py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-4">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    THÔNG TIN LIÊN HỆ</h4>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed
                    dolor</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>371 Nguyễn Kiệm, Gò Vấp</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>medinova@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+84 868832530</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    MENU</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="{{url_for('index')}}"><i class="fa fa-angle-right me-2"></i>Trang chủ</a>
                    <a class="text-light mb-2" href="{{url_for('about')}}"><i class="fa fa-angle-right me-2"></i>Giới thiệu</a>
                    <a class="text-light mb-2" href="{{url_for('appointment')}}"><i class="fa fa-angle-right me-2"></i>Đặt lịch khám</a>
                    <a class="text-light mb-2" href="{{url_for('list_member')}}"><i class="fa fa-angle-right me-2"></i>Đội ngũ bác sĩ</a>
                    <a class="text-light" href="{{url_for('contact')}}"><i class="fa fa-angle-right me-2"></i>Liên hệ</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">THEO
                    DÕI</h4>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">

        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-primary" href="#">Your Site Name</a>. All Rights Reserved.
                </p>
            </div>
        </div>

    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{url_for('static', filename='lib/easing/easing.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/tempusdominus/js/moment.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
<script src="{{url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>

<!-- Template Javascript -->
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script>

</script>