{% extends 'admin/master.html' %}

{% block body %}

<h1 class="text-center text-primary">PHÒNG KHÁM MEDINOVA</h1>
<div class="text-center text font-weight-bold  m-5">Thống kê doanh thu và tần suất khám</div>

<div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <table class="table">
                <tr>
                    <th>STT</th>
                    <th>Ngày</th>
                    <th>Số lần khám</th>
                    <th>Doanh thu</th>
                    <th>Tỷ lệ</th>
                </tr>
                {% for s in exam_frequency%}
                <tr>
                    <td>{{exam_frequency.index(s)+1}}</td>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                    <td>{{ "{:,.1f}".format(s[2]) }} VNĐ</td>
                    <td>{{ "{:.2%}".format(s[2]/revenue_by_month[0]) }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>


    </div>
    <div class="m-auto" style="max-width: 300px">
        <form>
        <div class="form-group">
            <input type="number" min="1" max="12" name="month" class="form-control" placeholder="Nhập tháng...">
        </div>
        <div class="form-group">
            <input type="number" min="2000" name="year1" class="form-control" placeholder="Nhập năm...">
        </div>
            <div class="text-center">
                <input type="submit" value="Thống kê" class="btn btn-danger">
            </div>

    </form>
    </div>

    <div class="row" style="height: 400px">

        <div class="col-md-6 col-xs-12" style="width:90%;">

            <canvas id="frequencyMonthStats"></canvas>
        </div>
        <div class="col-md-6 col-xs-12" style="width:100%;">
            <canvas id="frequency1MonthStats"></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  let labels = [], labels2 = []
  let data = [], data2 = []
  let colors = [], colors2 = []
  let borderColors = [], borderColors2 = []

  {% for s in exam_frequency%}
      labels2.push('{{s[0]}}')
      labels.push('{{s[0]}}')
      data2.push({{s[1]}})
      data.push({{s[2]}})

      r = parseInt(Math.random() * 255)
      g = parseInt(Math.random() * 255)
      b = parseInt(Math.random() * 255)
      colors2.push(`rgba(${r}, ${g}, ${b}, 0.6)`)
      colors.push(`rgba(${r}, ${g}, ${b}, 0.6)`)
      borderColors2.push(`rgba(${r}, ${g}, ${b}, 1)`)
      borderColors.push(`rgba(${r}, ${g}, ${b}, 1)`)
  {% endfor %}

  window.onload = function() {
    const ctx2 = document.getElementById('frequencyMonthStats').getContext('2d')
    const ctx1 = document.getElementById('frequency1MonthStats').getContext('2d')

    loadChart(ctx2, labels2, data2, 'bar', colors2, borderColors2, 'Số lần khám')
    loadChart(ctx1, labels, data, 'line', colors, borderColors, 'Doanh thu')
  }
  function loadChart(ctx, labels, data, type, colors, borderColors, label) {
    const myChart = new Chart(ctx, {
        type: type,
        data: {
          labels: labels,
          datasets: [{
            label: label,
            data: data,
            borderWidth: 1,
            backgroundColor: colors,
            hoverOffset: 4
          }]

        },
      });
  }




</script>
{% endblock %}
