{% extends 'layout/base.html' %}

{% block content %}
{% if msg %}
<div class="text-center text-danger mt-3 text-center" style="width: 50%">{{msg}}</div>
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'success' %}
            <div class="alert alert-success text-center mt-3 text-center" style="width: 50%; margin: 16px auto;">{{ message }}</div>
            {% endif %}
            {% if category == 'error' %}
            <div class="alert alert-danger text-center mt-3 text-center" style="width: 50%; margin: 16px auto;">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;">Medinova</h5>
                <h1 class="display-1 text-white mb-md-4">Giải pháp chăm sóc sức khỏe tốt nhất</h1>
                <div class="pt-2">
                    <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Tìm kiếm</a>
                    <a href="" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Đặt lịch khám</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded"
                         src="{{url_for('static', filename='img/about.jpg')}}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Giới thiệu</h5>
                    <h1 class="display-4">Chăm sóc y tế tốt nhất cho bạn và gia đình</h1>
                </div>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua
                    sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et
                    sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod,
                    dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et
                    magna</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Bác sĩ<small class="d-block text-primary">đạt chuẩn</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Dịch vụ<small class="d-block text-primary">khuẩn cấp</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Kiểm tra<small class="d-block text-primary">chính xác</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Miễn phí<small class="d-block text-primary">Xe cứu thương</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Dịch vụ</h5>
            <h1 class="display-4">Dịch Vụ Y Tế Tốt Nhất</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Khám sức khỏe định kỳ</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Khám tổng quát</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Dược phẩm</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Xét nghiệm máu</h4>
                    <p class="m-0">Kasd dolor no lorem nonumy sit labore tempor at justo rebum rebum stet, justo elitr
                        dolor amet sit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Appointment Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">ĐẶT LỊCH KHÁM</h5>
                    <h1 class="display-4">Đăng ký lịch khám </h1>
                </div>
                <p class="text-white mb-5">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor
                    ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero
                    ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore
                    sanctus sed et. Takimata takimata sanctus sed.</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="">Tìm kiếm</a>
                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Xem thêm</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Đặt Lịch Khám</h1>
                    <form method="post" action="/enroll_medical_exam">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" required class="form-control bg-light border-0"
                                       placeholder="Họ tên"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time bg-light border-0">
                                    <label class="">Giới tính: </label>
                                    <select name="gender" id="gender"
                                            style="width: 100px;border: none;outline: none; border-radius: 8px;">
                                        <option value="1">Nam</option>
                                        <option value="0">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div id="dob" data-target-input="nearest">
                                    <input type="date"
                                           required
                                           name="dob"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Ngày sinh" data-target="#dob" data-toggle="datetimepicker"
                                           style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" required name="email" class="form-control bg-light border-0"
                                       placeholder="Địa chỉ Email"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" required name="phone" class="form-control bg-light border-0"
                                       placeholder="Số điện thoại"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" required name="address" class="form-control bg-light border-0"
                                       placeholder="Địa chỉ"
                                       style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div id="date" data-target-input="nearest">
                                    <input type="date"
                                           required
                                           name="date_schedule"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Ngày khám" data-target="#date_schedule"
                                           data-toggle="datetimepicker"
                                           style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class=" time bg-light border-0">
                                    <label class="">Thời gian: </label>
                                    <select name="time" id="time"
                                            style="width: 100px;border: none;outline: none; border-radius: 8px;">
                                        {% for t in list_times %}
                                        <option value="{{t.maTG}}">{{t.gio.strftime('%H:%M %p')}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Đặt Lịch Khám</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">ĐỘI NGŨ Y - BÁC SĨ</h5>
            <h1 class="display-4">Chuyên gia chăm sóc sức khỏe</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            {% for m in list_members %}
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        {% if m['hinhAnh'] %}
                        <img class="img-fluid h-100" src="{{ m['hinhAnh'] }}" style="object-fit: cover;">
                        {% else %}
                        <img class="img-fluid h-100" src="{{url_for('static', filename='img/team-1.jpg')}}"
                             style="object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>{{ m['hoTen']}}</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-3">Cardiology Specialist</h6>
                            <p class="m-0">Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum
                                dolor</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-lg btn-primary btn-detail" href="#">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Search Start -->
<div class="container-fluid bg-primary  py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">TÌM KIẾM BÁC SĨ</h5>
            <h1 class="display-4 mb-4">Tìm kiếm chuyên gia về sức khỏe</h1>
            <h5 class="text-white fw-normal">Duo ipsum erat stet dolor sea ut nonumy tempor. Tempor duo lorem eos sit
                sed ipsum takimata ipsum sit est. Ipsum ea voluptua ipsum sit justo</h5>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <form method="post" action="/search-doctor">
                <div class="input-group">
                    <input type="text" name="name" class="form-control border-primary w-50" placeholder="Tên">
                    <button class="btn btn-dark border-0 w-25">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Search End -->
{% endblock %}